<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            max-width: 800px;
            min-width: 480px;
            margin: 0 auto;
        }
        #main {
            margin: 0 auto;
            position: relative;
            top: 100px;
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<body>
<div id="main">
    <img th:src="@{/image/404.jpg}">
</div>
</body>
</html>