<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace就是接口类-->
<mapper namespace="com.cheer.springbootdemo.dao.StudentMapper">
    <cache></cache>
    <insert id="register">
        insert into student(username.password) values(#{username},#{password})
    </insert>
    <update id="update">
        update student set correct=#{correct},error=#{error},
        miss=#{miss},scores=#{scores},pass=#{pass}
        where username=#{username}
    </update>
    <select id="getUser" resultType="Student">
        select * from student where username = #{username}
    </select>
</mapper>